.env
node_modules/
certs/
dist/
tmp/*

/PanTS/
downloaded.nii.gz
PanTS/data/pdf/
.DS_Store

*.nii.gz
CancerVerse/CancerVerse_dataset_metadata.csv
CancerVerse/~/.cache/huggingface/.agent_harnesses.json
